.card-container{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    transform: translateZ(0);
    transition: transorm 0.25s ease-out;
    backface-visibility: hidden;

}
.card-container:hover{
    transform: scale(1.05);
}